<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trang chủ - web bán hàng</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="vendor/bootstrap.js"></script>
    <script type="text/javascript" src="1.js"></script>
    <link rel="stylesheet" href="vendor/bootstrap.css" />
    <link rel="stylesheet" href="vendor/font-awesome.css" />
    <link rel="stylesheet" href="1.css" />
  </head>
  <body class="listtin">
    <div class="thanhcc text-xs-center text-sm-left">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <a href="#" class="cctop">
              <i class="fa fa-sign-in"></i>
              Register
            </a>
            <a href="#" class="cctop"> My Account </a>
            <a href="#" class="cctop">
              <i class="fa fa-shopping-cart"></i>
              5 items
            </a>
          </div>
          <div class="col-sm-6">
            <div class="float-sm-right text-xs-center text-sm-left">
              <input
                type="text"
                class="form-control tim"
                placeholder="Tìm kiếm"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- HẾT THANH CÔNG CỤ -->

    <div class="menutop">
      <nav class="navbar navbar-light">
        <button
          class="navbar-toggler hidden-lg-up"
          type="button"
          data-toggle="collapse"
          data-target="#exCollapsingNavbar2"
        ></button>
        <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar2">
          <a class="navbar-brand" href="#"
            ><img src="images/logo.png" alt="LOGO Project 1"
          /></a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://zing.vn">Trang chủ </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop </a>
              <ul>
                <li><a href=""> Shop Men</a></li>
                <li><a href=""> Shop Women</a></li>
                <li><a href=""> Shop Accessories</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tin tức</a>
              <ul>
                <li><a href=""> Shop Men</a></li>
                <li><a href=""> Shop Women</a></li>
                <li><a href=""> Shop Accessories</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
              <ul>
                <li><a href=""> Shop Men</a></li>
                <li><a href=""> Shop Women</a></li>
                <li><a href=""> Shop Accessories</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- END MENUTOP -->

    <!-- Chua noi dung cua trang shop -->
    <div class="ktieude text-xs-center">
      <div class="ktieudetrong">
        <h2>News</h2>

        <nav class="breadcrumb">
          <a href="">Home</a> &nbsp; / &nbsp; <a href="">News</a>
        </nav>
      </div>
    </div>
    <!-- het khoi tieu de duoi -->

    <!-- tin tuc -->
    <div class="tintuc">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="mottinchuan tinchitiet">
              <a href="" class="anhtin">
                <img src="images/home_agency2_intro_bg.jpg" alt="" />
                <div class="ngaythang">
                  <b>11</b>
                  <i>JAN</i>
                </div>
              </a>
              <div class="noidungtin">
                <h3><a href="">It is a long established</a></h3>
                <div class="thongsotin">
                  <span class="author">by admin</span> /
                  <span class="comment"> 1 comment</span>
                </div>

                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy. Various versions have evolved over the years,
                  sometimes by accident, sometimes on purpose (injected humour
                  and the like).
                </p>

                <blockquote>
                  is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s
                </blockquote>

                <hr>

                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                  Many desktop publishing packages and web page editors now use
                  Lorem Ipsum as their default model text, and a search for
                  'lorem ipsum' will uncover many web sites still in their
                  infancy. Various versions have evolved over the years,
                  sometimes by accident, sometimes on purpose (injected humour
                  and the like).
                </p>

                <blockquote>
                  is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s
                </blockquote>
              </div>
            </div>
            <!-- het mottinchuan -->
          </div>
          <div class="col-sm-3">
            <form action="" class="search-form">
              <input type="text" class="search-field" placeholder="Tìm kiếm" />
              <input type="submit" class="search-submit" value="Gửi" />
            </form>

            <div class="widget">
              <h2 class="widget-title">Danh mục tin</h2>
              <ul>
                <li>
                  <a href="">Tin khuyến mãi <span class="so">(05)</span></a>
                </li>
                <li>
                  <a href="">Tin Công nghệ <span class="so">(05)</span></a>
                </li>
                <li>
                  <a href="">Tin rao vặt <span class="so">(05)</span></a>
                </li>
              </ul>
            </div>

            <div class="widget widget_recent_entries">
              <h2 class="widget-title">Tin gần nhất</h2>
              <a class="mottinnho">
                <img src="images/sanpham02.png" alt="" />
                <b>Fashion ladies bag</b>
                <i>February 15, 2016</i>
              </a>

              <a class="mottinnho">
                <img src="images/sanpham02.png" alt="" />
                <b>Fashion ladies bag</b>
                <i>February 15, 2016</i>
              </a>

              <a class="mottinnho">
                <img src="images/sanpham02.png" alt="" />
                <b>Fashion ladies bag</b>
                <i>February 15, 2016</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- het tin tuc -->

    <footer class="foot">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 cot1">
            <h3 class="tdfoot">Quick Link</h3>
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">Shop</a></li>
                  <li><a href="">Account</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">Shop</a></li>
                  <li><a href="">Account</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4 push-sm-1 cot2">
            <div class="logo text-xs-center">
              <img src="images/logo.png" alt="" />
            </div>
            <div class="mangxh">
              <ul>
                <li>
                  <a href=""><i class="fa fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-youtube"></i></a>
                </li>
              </ul>
            </div>
            <div class="thethanhtoan">
              <ul>
                <li>
                  <a href=""><i class="fa fa-cc-visa"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-cc-mastercard"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-cc-mastercard"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-cc-mastercard"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright">
              Copyrights <i class="fa fa-copyright"></i> 2016 VOLTA. All Rights
              Reserved
            </div>
          </div>
          <div class="col-sm-3 push-sm-1 cot3">
            <div class="bando">
              <h3 class="tdfoot">LOCATION</h3>
              <p>1040, TPHCM</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
